@import './variables.scss';
/*通用*/
//@font-face {
//  font-family:'Open Sans';
//  src: url('../font/opensans.ttf');
//}
* {
  box-sizing: border-box;
  font-family: 'Open Sans',微软雅黑, Helvetica, Helvetica Neue, Arial, 黑体,sans-serif;
}
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video {
  margin:0;
  padding:0;
  /*border:0;
  */
  /*outline:0;
*/
  /*font-size:100%;
vertical-align:baseline;
background:transparent;
*/
}
h1,h2,h3,h4,h5,h6,em,i {
  font-weight:100;
  font-style:normal;
}
ul,ol,li {
  list-style-type:none;
}
a {
  color:#666;
  text-decoration:none;
  outline:0;
}
a:hover {
  text-decoration:none;
}

body {
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

label {
  //font-weight: 700;
}

html {
  height: 100%;
  box-sizing: border-box;
}

#app{
  height: 100%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.no-padding {
  padding: 0px !important;
}

.padding-content {
  padding: 4px 0;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus{
  outline: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.pr-5 {
  padding-right: 5px;
}

.pl-5 {
  padding-left: 5px;
}

.block {
  display: block;
}

.pointer {
  cursor: pointer;
}

.inlineBlock {
  display: block;
}
.f-s-0{
  font-size: 0;
}
